<h1>Cadastrar Cliente</h1>
<form action="/clientes/add" method="post">
  <input type="text" name="nome" placeholder="Nome" />
  <input type="text" name="sobrenome" placeholder="Sobrenome" />
  <input type="date" name="data_nascimento" placeholder="Data de Nascimento" />
  <input type = "text" name="cpf" placeholder="CPF"/>
  <input type="submit" value="Cadastrar" class="btn"/>
</form>