<h1>Cadastrar Cliente</h1>
<form action="clientes/add" method="post">
  <input type="text" name="name" placeholder="Nome" />
  <input type="text" name="tipo" placeholder="Sobrenome" />
  <input type="number" name="data_nascimento" placeholder="Data de Nascimento" />
  <input type = "number" name="cpf" placeholder="CPF"/>
  <input type="submit" value="Cadastrar" class="btn"/>
</form>